<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block import %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Select action
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/">Create .zip archive</a>
						<a class="dropdown-item" href="/hash">Count hash of a file</a>
						<a class="dropdown-item" href="/png">Convert to .png</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

    <div class="container mt-3">
        <div class="col-md-6 float float-left">
            <h1>Enter path to folder</h1>
            <form method="post" action={% block action %}{% endblock %}>
                <div class="form-group">
                    <label for="inputField">Path:</label>
                    <input type="text" class="form-control" id="inputField" name="inputField" placeholder="Enter text">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-6 float float-right">
            <h1>Select folder</h1>
            <form method="post" action={% block action_drop %}{% endblock %}>
                <div class="form-group">
                    <label for="folderSelector">Select a Folder:</label>
                    <input type="file" class="form-control-file" id="inputField" name="inputField" webkitdirectory>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {% block main %}
    {% endblock %}

    {% block result %}
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>