<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert SUDO pass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
      <h1>Example Form</h1>
      <form id="example-form" method="POST">
            <div class="form-group">
                  <label for="sudo-input">SUDO password required for this action</label>
                  <input type="password" class="form-control" id="sudo-input" name="sudo-input">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
</body>
</html>