<!DOCTYPE html>
<html>
      <head>
            <title>SSI/Stole System Info</title>
            <!-- Include Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <style>
                .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45%;
              }
            </style>
      </head>
      <body>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="/">SSI/Stole System Info</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse float float-right" id="navbarMenu">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Select check
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/full">Full check</a>
					<a class="dropdown-item" href="/firewall">Firewall check</a>
					<a class="dropdown-item" href="/system">System updates</a>
					<a class="dropdown-item" href="/hardware">Basic hardware</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/custom">Custom command</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
            <div class="container">
                  <div class="col-md-6">
                        <h1>Submit Form</h1>
                            <form method="post" action="/custom">
                                <div class="form-group">
                                    <label for="inputField">Input Field</label>
                                    <input type="text" class="form-control" id="inputField" name="inputField" required>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkbox" name="checkbox">
                                        <label class="form-check-label" for="checkbox">Run as root</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                      </div>
                </div>

            <!-- Include Bootstrap JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      </body>
</html>